<!DOCTYPE html>
<html>
<head>
<meta name="keywords" content="keyword1,keyword2,keyword3"/>
<meta name="description" content="this is my page"/>
<meta name="content-type" content="text/html; charset=UTF-8"/>
<script type="text/javascript" src="./jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="./index.js"></script>
</head>
<body>
	<div align="center">
		<form id="foodForm">
			<table>
				<input type="hidden" name="foodId" value=""/>
				<input type="hidden" name="editType" value="new"/>
				<tr>
					<td>名称</td>
					<td><input type="text" name="foodName" style="width:450px;height:30px;"/></td>
				</tr>
				<tr>
					<td>价格</td>
					<td><input type="text" name="price" style="width:450px;height:30px;"/></td>
				</tr>
				<tr>
					<td>图片路径</td>
					<td><input type="text" name="imagePath" style="width:450px;height:30px;"/></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="button" value="保存" style="width:49px;height:30px;" onClick="saveFood()"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>