<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定dao -->
<mapper namespace="com.yan.weather.mapper.WeatherMonthMapper">

	<insert id="insertWeatherMonth" parameterType="com.yan.weather.schema.mysql.WeatherMonth">
    	insert into weather_month 
    	(areaName, areaCode, yearMonth, urlName, url, crawlFlag, crawlCount, validStatus, insertTime, updateTime) 
    	values 
    	(#{areaName}, #{areaCode}, #{yearMonth}, #{urlName}, #{url}, #{crawlFlag}, #{crawlCount}, #{validStatus}, #{insertTime}, #{updateTime})
    </insert>
    
    <insert id="insertBatchWeatherMonth" parameterType="java.util.List">
    	insert into weather_month 
    	(areaName, areaCode, date, year, yearMonth, day, temperatureMax, temperatureMin, summary, windDirection, windScale, remark, validStatus, insertTime, updateTime) 
    	values 
    	<foreach collection="list" item="item" index="index" separator=",">
            (#{item.areaName}, #{item.areaCode}, #{item.yearMonth}, #{item.urlName}, #{item.url}, #{item.crawlFlag}, #{item.crawlCount}, #{item.validStatus}, #{item.insertTime}, #{item.updateTime})
        </foreach>
    </insert>
    
    <select id="findWeatherMonthsByMonthArea" parameterType="String" resultType="com.yan.weather.schema.mysql.WeatherMonth">
        SELECT * FROM weather_month WHERE yearMonth = #{yearMonth} and areaName = #{areaName}
    </select>
    
    <select id="findWeatherMonthsUnCrawledFirst" parameterType="int" resultType="com.yan.weather.schema.mysql.WeatherMonth">
        select * from weather_month
        where crawlFlag="0" 
        order by yearMonth desc 
        limit #{first}
    </select>
    
	<select id="countWeatherMonthsByCondition" parameterType="String" resultType="long">
        SELECT count(*) FROM weather_month
        <trim prefix="where" prefixOverrides="and|or"> 
    		<if test="areaName != null and areaName != ''">
    			areaName=#{areaName}
    		</if>
    		<if test="areaCode != null and areaCode != ''">
    			areaCode=#{areaCode}
    		</if>
    		<if test="yearMonth != null and yearMonth != ''">
    			and yearMonth = #{yearMonth}
    		</if>
    		<if test="crawlFlag != null and crawlFlag != ''">
    			and crawlFlag = #{crawlFlag}
    		</if><if test="validStatus != null and validStatus != ''">
    			and validStatus = #{validStatus}
    		</if>
    		
    	</trim>
    </select>
    
    <select id="findWeatherMonthsByCondition" parameterType="java.util.Map"  resultType="com.yan.weather.schema.mysql.WeatherMonth">
    	select * from weather_month
    	<trim prefix="where" prefixOverrides="and|or"> 
    		<if test="areaName != null and areaName != ''">
    			areaName=#{areaName}
    		</if>
    		<if test="areaCode != null and areaCode != ''">
    			areaCode=#{areaCode}
    		</if>
    		<if test="yearMonth != null and yearMonth != ''">
    			and yearMonth = #{yearMonth}
    		</if>
    		<if test="crawlFlag != null and crawlFlag != ''">
    			and crawlFlag = #{crawlFlag}
    		</if><if test="validStatus != null and validStatus != ''">
    			and validStatus = #{validStatus}
    		</if>
    		
    	</trim>
    	order by updateTime desc
    	limit #{offset},#{pageSize}
    </select>
    
    <delete id="deleteWeatherMonthByMonthArea" parameterType="java.util.Map">
    	delete from weather_month where yearMonth = #{yearMonth} and areaName = #{areaName}
    </delete>
    
    <update id="updateWeatherMonthByMonthArea" parameterType="com.yan.weather.schema.mysql.WeatherMonth">
    	update weather_month set areaCode=#{areaCode}, urlName=#{urlName}, url=#{url}, crawlFlag=#{crawlFlag}, crawlCount=#{crawlCount}, validStatus=#{validStatus}, updateTime=#{updateTime}
    	where yearMonth = #{yearMonth} and areaName = #{areaName}
    </update>
    
    <update id="updateCrawlFlagByAreaCodeAndYearMonth" parameterType="com.yan.weather.schema.mysql.WeatherMonth">
    	update weather_month set crawlFlag=#{crawlFlag}, crawlCount=crawlCount+1, updateTime=#{updateTime}
    	where yearMonth = #{yearMonth} and areaCode=#{areaCode}
    </update>
    
</mapper>